/*Login CSS*/
.form-group{
  text-align: center;
  margin: auto;
  padding-top: 20%;
  padding-left: -50%;
  width: 20%;
  border: 2px solid black;
  position: center;
}
#userNameBox{
margin: 2%;
margin-left: 2%;
}
#passWordBox{
margin: 2%;
margin-left: 2%;
}
#loginButton{
margin: 2%;
}

